/*********************/
/* Background        */
/*********************/
body {
	background: linear-gradient(to bottom, rgba(0,0,0,.0) 0px,rgba(0,0,0,.95) 960px,rgba(0,0,0,1) 1080px); 
}


/*********************/
/* Middle container  */
/*********************/
/* Delete this if the group is pissed */
.background {
	height: 100%;
	padding: 30px;
	background: rgba(0,0,0,.0);
}
/* Also delete this if the group is pissed */
.middle-content {
	background: rgba(28,28,28,.8);
	padding: 0px;
	color: white;
}

/*********************/
/* Generic           */
/*********************/
hr {
	/* Gives the hr a black shadow as to make it stand out from the background*/
	border-color: white;
	background-color: black;
	height: 2px;
}
.hrsmall {
	/* Taller, but lighter feeling hr element. */
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
}
.flexbox {
	display: flex;
}
h2, h3, h4, p {
	/* Gives the headers a black shadow as to make them stand out from the background*/
	text-shadow: 0px 2px #000000;
}
p {
	/* Gives the headers a black shadow as to make them stand out from the background*/
	text-shadow: 0px 1px #000000;
}

/*********************/
/* First             */
/*********************/
#championicon {
	float: left;
	min-width: 199px;
	height: 199px;
	margin-right: 15px;
}
#attack, #defence, #ability, #difficulty {
	text-align: right;
	display: inline-block;
	height: 30px;
	margin-bottom: 26px;
	padding-top: 4px;
	background-size: contain;
	background-size: 32px;
	background-repeat: no-repeat;
	min-width: 64px
}
#championstats {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.championstats {
	padding-right: 8px;
}
#attack {
	background-image: url("../images/Stats/Attack.png");
	margin-top: 1px;
	/* width 2 * 40px + 30px*/
	width: 20%;
	max-width: 80px;
	background-color: #AA1111;
}
#defence {
	background-image: url("../images/Stats/Defence.png");
	/* width 3 * 40px + 30px*/
	width: 30%;
	max-width: 120px;
	background-color: #002801;
}
#ability {
	background-image: url("../images/Stats/Ability.png");
	/* width 10 * 40px + 30px*/
	width: 100%;
	max-width: 400px;
	background-color: #062347;
}
#difficulty {
	background-image: url("../images/Stats/Difficulty.png");
	/* width 6 * 40px + 30px*/
	width: 60%;
	max-width: 240px;
	background-color: #300542;
	margin-bottom: 0;
}

/*********************/
/* Abilities         */
/*********************/
.abilityleft {
	min-width: 64px;
	/* Stops the icons from being scaled by the flex box. */
	height: 64px;
	margin-right: 15px;
}
.abilitymiddle {
	width: 60%;
}
.abilityright {
	/* Pushes the right content down to the height of the middle content. */
	margin-top: 40px;
	margin-left: 15px;
	width: 30%;
}