/*********************************** 
	Middle container and content
************************************/

/* Delete this if the group is pissed */
.background {
	height: 100%;
	padding: 15px 15px;
	background-size: fill;
	background: linear-gradient(to bottom, rgba(28,28,28,.0) 0px,rgba(28,28,28,.95) 300px,rgba(28,28,28,1) 450px,rgba(28,28,28,1) 100%); 
}
/* Also delete this if the group is pissed */
.middle-content {
	background: url("../images/Annie/Annie_Splash.jpg") no-repeat center;
	background-size: contain;
	background-position: top; 
	padding: 0px 0px;
	color: white;
}


hr {
	border-color: white;
	background-color: black;
	height: 2px;

}
.hrsmall {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
}

.abilityicon {
	float: left;
	width: 64px;
}
.abilitydescription {
	padding-left: 15px;
	width: 60%;
	display: inline-block;
}
.abilitydetails {
	margin-top: 40px;
	float: right;
	width: 30%;
}