html {
	background: url("images/Splash.jpg") no-repeat top;
	background-size: 1920px, 1080px;
	background-color: black;
}
#attack {
	/* width X * 40px + 32px*/
	min-width: 64px;
	max-width: 312px;
}
#defence {
	/* width X * 40px + 32px*/
	min-width: 64px;
	max-width: 112px;
}
#ability {
	/* width X * 40px + 32px*/
	min-width: 64px;
	max-width: 272px;
}
#difficulty {
	/* width X * 40px + 32px*/
	min-width: 64px;
	max-width: 312px;
}