/*This creates the top row of flexbox
    ,with champion and item selection*/
.champ-select{    
    display: flex;
    justify-content: flex-start;
}
.champions{
	width: 150px;
	padding-right: 100px;
}

.items{
	min-width: 300px;
}

.ability {
	width: 160px;
	margin-right: 10px;
}

/*This one gives the damage for each
    individual ability*/
.outcomebox{
    display: flex;
    flex-wrap: wrap;
}
