/*This creates the top row of flexbox
    ,with champion and item selection*/
.champ-select{    
    display: flex;
    justify-content: flex-start;
}
.champions{
	width: 30%;
	padding-right: 100px;
}

.items{
	min-width: 70%;
}

ul.items-list {
display: inline-block;
width: 100px;
height:100px; 
margin: 1em;
}

.ability {
	width: 160px;
	margin-right: 10px;
}

/*This one gives the damage for each
    individual ability*/
.outcomebox{
    display: flex;
    flex-wrap: wrap;
}

#calculatestats{
background-color: rgba(63,0,255,0.5);
color: yellow;
border: 0px;
font-size: 110%;
padding: 1%;
margin: 10px;
}