img.top {
	vertical-align: top;
}
img.middle {
	float: left;
}

h2 {
	background: rgba(0,0,0,.8);
	color: white;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.middle-content{
	background: rgba(255,255,255,.8);
	color: black;
	padding: 15px 15px;
	margin-top: 15px;
	box-shadow: 0px 0px 30px 1px #000000;
}

.inner-content{
	background: rgba(150,150,150, 0.9);
	margin-left: 52%;
	margin-top: 2%;
	padding: 1%;
}

