h2 {color:#0679BF;}

.memb_bg {color:white;
	  list-style-type: none;
	  margin-left: 20px;
	  background: rgba(28,28,28,.8);
	  background-repeat: no-repeat;
	  padding: 10px;}

.members {margin-left: 20px;
		   color:#0679BF;}

.color {color:#0679BF;}

.founded {font-size:11px;
	padding-top:5px;
	text-align: center;}

.team-img {
	margin-top: 25px;
	margin-left: 15px;
	margin-bottom: 3px;}

h3 {color: #ffd251;}